.footer {
  width: 35vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: transparent;
}

.box_section {
  width: 90%;
  height: 30%;
  display: flex;
  color: white;
  background-color: black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}
.box_social {
  width: auto;
  height: 70%;
  justify-content: center;
  align-items: center;
}
.box_social i {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
